# ---
#
# users:
#   - vojta
#
# debug: 1
# logging: 1
#
# hostname: app.smsgw.cz
#
# database_root_password: smsgw
# database_name: smsgw
# database_user: smsgw
# database_password: smsgw
#
# rabbitmq_vhost: smsgw
# rabbitmq_user: smsgw
# rabbitmq_password: smsgw
#
# mailgun_domain: **TOCHANGE**
# mailgun_api_key: **TOCHANGE
