# http://EditorConfig.org

root = true

[*.{js,py,sh,json,coffee}]
charset = utf-8

[*.{py,sh,coffee}]
indent_style = space
indent_size = 4

[*.{js,json,yml}]
indent_style = space
indent_size = 2

[{package.json, Dockerfile}]
indent_style = space
indent_size = 2
