/* Main app.css file */

html { width: 100%; height: 100%; }
body {
    width: 100%;
    height: 100%;
    font-family: "MyriadProLight";
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    line-height: 150%;
    color: #000000;
}

/* Utils */
.cleaner { clear: both; }

/* General */
.margin-top-25 { margin-top: 25px; }

.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* A */
a { color: #0088ff; text-decoration: underline; cursor: pointer; }
a:hover { text-decoration: none; color: #054f90; }

/* Forms */
input, input.form-control,
textarea, textarea.form-control { border: 1px solid #e5e5e5; border-radius: 0; }
button.ladda-button { background: #0088ff; }

/* Table */
table.table { width: 100%; border: 0; border-spacing: 0; }
table.table a { cursor: pointer; }
table.table > thead > tr > th{ text-align: left; background: #f5f5f5; font-size: 16px; padding: 10px 15px 10px 15px; font-weight: normal; vertical-align: bottom; border-bottom: 1px solid #e5e5e5; }
table.table > tbody > tr > td { text-align: left; padding: 10px 15px 10px 15px; }

/* Flashes */

.flashes .alert { border-radius: 0; }

/* Loading */

#smsgw { position: relative; width: 100%; height: 100%; }
#smsgw > div { position: relative; width: 100%; height: 100%; }

/* Sign in/up and reset password */
#sign { width: 300px; margin: 0 auto 0 auto; padding: 11% 0 0 0; }
#sign h1 { float: left; margin: 0 0 15px 0; padding: 0; font-size: 40px; font-weight: normal; color: #000000; }
#sign h2 { float: right; margin: 0 0 15px 0; padding: 0; font-size: 40px; font-weight: normal; color: #0088ff;  }
#sign.resetPassword h2 { font-size: 28px; padding-top: 10px; }
#sign > .info { margin-top: 15px; width: 100%; line-height: 150%; }



/* Header */

.navbar {  margin-bottom: 0; background: #ffffff; border-bottom: 1px solid #e5e5e5; }
.navbar a.navbar-brand { width: 100px; font-size: 30px; color: #000000; text-decoration: none; margin-right: 10px; }
.navbar-nav > li { display: inline-block; padding: 0; margin: 0; }
.navbar-nav > li > a { font-size: 30px; color: #0088ff; text-decoration: none; padding: 15px 10px; }
.navbar-nav > li > a:hover { color: #054f90; background: #ffffff; }
.navbar-nav > li > a.active { color: #054f90; background: #ffffff; }
.navbar-nav.navbar-right > li.dropdown > a { position: relative; padding: 5px 15px 0 0; margin: 0; text-decoration: none; background: #ffffff; }
.navbar-nav.navbar-right > li.dropdown.open > a { background: #ffffff; }
.navbar-nav.navbar-right > li.dropdown > a .caret { top: -10px; }
.navbar-nav.navbar-right > li.dropdown > a .info { float: left; padding-right: 6px; }
.navbar-nav.navbar-right > li.dropdown > a .info .name { font-size: 18px; color: #0088ff; }
.navbar-nav.navbar-right > li.dropdown > a .info .company { font-size: 14px; text-transform: uppercase; color: #000000;  }
.navbar-nav.navbar-right > li.dropdown > ul > li > a { text-decoration: none; }

/* Subheader */
#subheader { display: block; padding: 20px 20px 0 20px; background-color: #f5f5f5; border-bottom: 1px solid #e5e5e5; }
#subheader h1 { font-weight: normal; font-size: 26px; margin: 0 0 12px 0; line-height: 24px; }
#subheader h2 { font-weight: normal; font-size: 18px; margin-top: 0; }
#subheader h3 { font-weight: normal; font-size: 15px; margin-top: 0; margin-bottom: 0; }
#subheader h3 .small { font-size: 14px; }
#subheader a { display: inline-block; position: relative; margin-right: 15px; font-size: 18px; text-decoration: none; padding-bottom: 18px; }
#subheader a.active { color: gray; border-bottom: 1px solid gray; }
#subheader a.back { cursor: pointer; font-size: 14px; line-height: 15px; padding-left: 10px; }
#subheader a.back .chevron {
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 6px;
    height: 6px;
    border-top: 1px solid #0088ff;
    border-right: 1px solid #0088ff;
    border-width: 1px;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Context */
#context { display: block; padding: 20px; }
#context h1 { font-weight: normal; font-size: 23px; line-height: 24px; margin: 10px 0 25px 0; }
#context a { text-decoration: none; position: relative; }

/* Tags */
#context .tags { float: left; width: 250px; margin-left: 40px; }
#context .tags .autocomplete { float: left; position: relative; }
#context .tags .autocomplete input { float: left; width: 180px; }
#context .tags .autocomplete .throbber { float: right; width: 32px; height: 32px; margin-top: 5px; background: url('/images/throbber.gif') no-repeat; } 
#context .tags .autocomplete ul.options { position: absolute; top: 47px; max-height: 300px; width: 212px; z-index: 10; padding: 0; margin: 0; background: #ffffff; list-style: none; border: 1px solid #e5e5e5; border-top: 0; }
#context .tags .autocomplete ul.options li { float: left; width: 202px; margin: 0; padding: 5px; cursor: pointer; border-bottom: 1px solid #e5e5e5; }
